<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eas-e-Library</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body style="background-image: url(../public/images/slider_image4.jpg);">

    <div class="content">
        <%- body %>
            <footer style="margin-bottom: 0;">
                <div style="background-color: #2980b4">
                    <p style="text-align: center">&copy; Copyright 2019</p>
                </div>
            </footer>
    </div>
</body>

</html>