<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <table>
        <% data.forEach(function(ind){ %>
        <li>
            <%= JSON.stringify(ind) %>
        </li>
        <% }) %>
    </table>
</body>

</html>