<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Eas-e-Library</title>
    <meta name="description" content="Eas-e-Library">
    <meta name="keywords" content="Eas-e-Library, Easy Library, e-library, Library, Library Management System, Online Library, Digital Library, Books">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header id="header">
        <!--Nav-bar-->
        <h1 class="logo"><a href="#home" class="brand-link">Eas-e-Library</a></h1>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav class="top-navbar">
            <ul class="menu">
                <li class="main-list"><a href="#about"><label>About Us </label></a></li>
                <li class="main-list"><a href="#contact"><label>Contact Us</label></a></li>
                <li class="main-list"><a href="#location"><label>Location</label></a></li>
                <li class="main-list "><a href="#modal" class="modal-trigger" onclick="document.getElementById('header').style.position='fixed';"><label>Sign in </label> </a></li>
            </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
		      <span></span>
		    </label>
    </header>
    <div class="modal" id="modal" style="display: table;">
        <div class="modal-dialog">
            <section class="modal-content">
                <section class="modal-header">
                    <h2 class="modal-title">Staff Sign in</h2>
                    <!-- <a href="#" class="modal-close" onclick="document.getElementById('header').style.position='fixed';">&times;</a> -->
                </section>
                <div class="modal-body">
                    <form action="staffsignin" method="POST" onsubmit="document.getElementById('modal2').style.display='table';document.getElementById('modal').style.display='block';">
                        <% if(typeof errors_signin != 'undefined'){ %>
                            <div class="modal2" id="modal2" style="display: table;" onclick="document.getElementById('modal2').style.display='none';">
                                <div class="modal-dialog2">
                                    <section class="modal-content2">
                                        <section class="modal-header2">
                                            <h2 class="modal-title2">Error</h2>
                                            <a href="#" class="modal-close2">&times;</a>
                                        </section>
                                        <div class="modal-body2" style="font-size:xx-large; text-align: center;">
                                            <% errors_signin.forEach(function(error){ %>
                                                <%= error.msg %>
                                                    <%}); %>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <%} %>


                                <div class="signin-input">
                                    <span>Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="email" name="email" id="email" required="required" value="<%= typeof email!='undefined' ? email : '' %>"/></span>
                                </div>
                                <div class="signin-input">
                                    <span>Password:&nbsp;&nbsp;&nbsp;
                            <input type="password" name="passwd" id="passwd" required="required" value="<%= typeof passwd!='undefined' ? passwd : '' %>"/></span>
                                </div>
                                <div style="text-align: center;">
                                    <input type="submit" value="Submit" class="submit-signin">
                                    <p style="font-size:large; text-align: center;">OR</p>
                                    <a href="/#modal" class="forgot-link" onclick="document.getElementById('header').style.position='fixed';">Member Signin</a>
                                </div>


                    </form>
                    <hr>
                    <div style="text-align: center;">
                        <a href="/staffs/staffsignup" class="submit-request">Request New Account</a>
                    </div>
                </div>
            </section>
        </div>
    </div>